h2{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
.counter{
    align-items: left;
    flex-direction: column;
}
.countdown{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.day,.hour,.minute,.second{
    font-size: 2rem;
}
p{
    font-size : 2rem;
    font-weight: italic;
    text-align: center;
    align-content: center;
}
