.flex-container {
    display: flex;
}

.flex-container1 > div1{
    flex-direction: row;
    background-color: #ffd1b3;
    text-align: center;
    width: 40px;
    border: 2px solid orange;
    border-radius: 5px;
    margin:5px;
}


 .flex-container2 > p {
    flex-direction: row;
    width: 32.6%;
    height: 75px;
    background-color: #fff0e6;
    padding:1px ;
    border: 2px solid orange;
    margin: 5px;
    border-radius: 5px;
}
.flex-container3 >p {
    width: 10.5%;
    height: 55px;
    background-color: #fff0e6;
    padding:1px ;
    border: 2px solid orange;
    margin: 5px;
    border-radius: 5px;
}
