.flex-container {
    display: flex;
}
.flex-container > div1{
    background-color: #ffd1b3;
    text-align: center;
    width: 40px;
    border: 2px solid orange;
    border-radius: 5px;
    margin:5px;
}

 .pas{
    text-align : bottom;
    width: 33%;
    height: 75px;
    background-color: #fff0e6;
    padding: 5px;
    border: 2px solid orange;
    margin: 5px;
    border-radius: 5px;
}
